body {
    background-color: #ddb1f5;
  }

  h1,h2,h3 {
    font-family: 'Times New Roman', Times, serif;
  }

  h1 {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
  }

  #content {
    margin: 10px;
    padding: 10px;
    border: solid 1px rgb(236, 145, 117);
    background-color: #ffffff;
  }

  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px rgb(136, 183, 237);
    background-color: #ffffff;
  }