.minor-section {
    padding: 15px;
    margin-bottom: 15px;
    border: solid 1px #e59d9d;
    background-color: #c4d3f1;
    font-family: monospace;
  }
  body {
    background-color: #ffced9;
  }
  h1 {
    letter-spacing: 5px;
    word-spacing: 5px;
    font-size: 200%;
    background-color: rgb(94, 193, 193);
    font-family: monospace;
  }
  